main{
  width: 105px;
  display: flex;
    flex-wrap: wrap;
}
div{
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 1px solid #999;
  margin: 0 -1px -1px 0;
  line-height: 35px;
  text-align: center;
}
