*{
  box-sizing: border-box;
}
main {
  display: flex;

}
#stage {
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  background-color: #333;
    width: 105px;
    height: 105px;
    padding: 2px;
}
#stage > .stage-column{
  flex-basis:32%;  
    /* 1. grow-残り幅をどの割合で分け与えるか */
    /* 2. shrink-どの割合で縮ませるかを指定するプロパティ */
    /* 3. basis-アイテムの幅を指定するプロパティ */
  display: flex;
    justify-content: space-between;
}
#stage .cell {
  background-color: #ededed;
    flex-basis: 32%;
  display: flex;
    align-items: center;
    justify-content: center;
}
#text{
  text-align: center;
  margin: 0;
  padding: 0;
}
#text #move li{
  text-align: left;
  }
